<table class="table table-striped">
   <thead>
        <th># id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>autor</th>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Description</td>
            <td>@Model.Author</td>
        </tr>
    </tbody>
</table>

<a asp-controller="Sectors" asp-action="Index"> 
    <button class="btn btn-success" type="submit">volver</button>
</a>