@model Sector;

<div class="row">
    <div class="mb-3">

        <form asp-action="Edit" asp-controller="Sectors">
            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input  class="form-control" asp-for="@Model.Name">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Descripcion</label>
                <input  class="form-control" asp-for="@Model.Description">
            </div>
            <div>
                <label for="" class="form-label">Autor</label>
                <input  class="form-control" asp-for="@Model.Author">
            </div>
            <button type="submit">EDITAR</button>
        </form>
    </div>

</div>
